.menu_container{
    padding-bottom: 20px;
}
.selected_menu{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.item_cont > div:nth-child(even){
    background: #E6E6E6;
}
.item_cont > div{
    padding: 10px;
}
.bar_nameprice{
    font-size: 16px;
}
.bar_ingredients{
    font-size: 13px;
    font-style: italic;
}
@media (max-width: 768px) { 
    .menu_selector{
        font-size: 14px;
        padding: 0px 5px;
    }
}