.menu_container{
    padding-bottom: 20px;
}
.selected_menu{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.menu_lists{ padding-bottom: 20px; }
.subtitle{
    font-size: 20px;
    background: #FFF;
    text-align: center;
    color: #000;
}
.item_cont > div:nth-child(even):not(.subtitle){
    background: #E6E6E6;
}
.item_cont > div{
    padding: 10px;
}
.bar_nameprice{
    font-size: 16px;
}
.bar_ingredients{
    font-size: 13px;
    font-style: italic;
}
.menu_row{ align-items: center }
@media (max-width: 768px) { 
    .menu_selector{
        font-size: 14px;
        padding: 12px;
    }
}