@font-face {
  font-family: 'Bree';
  src: url('../fonts/BreeSerif-Regular.eot');
  src: url('../fonts/BreeSerif-Regular.woff2') format('woff2'),
       url('../fonts/BreeSerif-Regular.woff') format('woff'),
       url('../fonts/BreeSerif-Regular.ttf') format('truetype'),
       url('../fonts/BreeSerif-Regular.svg#BreeSerif-Regular') format('svg'),
       url('../fonts/BreeSerif-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



body{
  font-family: 'Bree', serif, monospace;
  padding: 0px;
  margin: 0px;
}

.group{
  display: table;
  width: 100%;
  table-layout: fixed;
}
.group > *{
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
ul.group{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.top_header{
  position: relative;
  z-index: 30;
  background: url('../images/haring.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.top_header .row{ align-items: center }
.top_header > div{ background-color: rgba(256,256,256,0.8)}
.menu_icon_cont{ 
  cursor: pointer; 
  padding-left: 25px;
}
.menu_icon_cont img{
  width: 30px;
  height: 30px;
}
.logo_cont{
  text-align: center;
  padding: 5px 0px;
}
.logo_cont img{
  width: 100%;
  max-width: 150px;
  vertical-align: middle;
}

.menu-gradient {
  padding: 0px;
  background: linear-gradient(90deg, #f39068, #e1ae33);
  position: absolute;
  top: 0;
  transition: top 500ms;
  z-index: 20;
}
.menu {
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}
.menu li{
  text-align: center;
  padding: 10px 0px;
}
.menu li a, .menu li a:visited{
  color: #FFF;
  text-decoration: none;
  height: 25px;
}
.menu li span {
  display: none;
}

.home_icon,
.fanta_icon,
.bb_icon,
.cat_icon,
.bar_icon{
  padding: 5px 0px;
  padding-left: 30px;
  display: inline-block;
}
.home_icon{
  background: url('../images/home.png') no-repeat left center;
  background-size: 20px 20px;
}
.fanta_icon{
  background: url('../images/ball.png') no-repeat left center;
  background-size: 20px 20px;
}
.bb_icon{
  background: url('../images/blood.png') no-repeat left center;
  background-size: 17px 20px;
}
.cat_icon{
  background: url('../images/dice.png') no-repeat left center;
  background-size: 20px 20px;
}
.bar_icon{
  background: url('../images/food.png') no-repeat left center;
  background-size: 25px;
}
.footer{
  background: #0F4557;
  padding: 10px 0px;
}
.footer ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.footer a{
  color: #FFF;
}
.social-icons{ text-align: center; }
.social-icons span{
  display: inline-block;
  padding-right: 10px;
}
.social-icons a{
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
}
.social-icons img{
  width: 35px;
  height: 35px;
}
.footer_menu{
  font-size: 14px;
  line-height: 35px;
}
.admin_links{ 
  text-align: center;
  padding-top: 10px; 
}
.login_icon img{
  width: 35px;
  height: 35px;
  margin-right: 5px;
  vertical-align: middle;
}


.main_title{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 15px;
}

.text_center{ text-align: center}
.text_left{ text-align: left}
.text_right{ text-align: right}

.hide{ display: none; }
.gap{ padding-bottom: 10px; }
.gapT{ padding-top: 10px; }

input[type="text"],input[type="password"],select{
  border: 0px;
  border-bottom: 2px solid #AAA;
  padding: 5px;
  margin: 0px;
  height: 38px;
  width: 100%;
  background: #FFF;
}
input[type="submit"],button{
  border: 0px;
  background: #0F4557;
  color: #FFF;
  text-transform: uppercase;
  padding: 10px;
  height: 40px;
  line-height: 20px;
}
input[type="file"],input[type="checkbox"]{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
input[type="file"] + label {
  background: #0F4557;
  color: #FFF;
  text-transform: uppercase;
  padding: 10px;
  height: 40px;
  line-height: 20px;
  cursor: pointer;
}
input[type="checkbox"] + label {
  padding: 10px;
  padding-left: 40px;
  height: 40px;
  line-height: 15px;
  background: url('../images/checkbox.png') no-repeat left center;
  background-size: 30px 30px;
  transition: background 250ms;
}
input[type="checkbox"]:checked + label {
  background: url('../images/checked.png') no-repeat left center;
  background-size: 30px 30px;
}
.line_height_40{ line-height: 40px; }
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .social-icons { text-align: left !important; }
  .admin_links { 
    text-align: right !important; 
    padding-top: 0px !important;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .menu_icon_cont img{ display: none; }
  .menu-gradient{
    position: static;

  }

  .menu li span {
    display: block;
  }

  .menu li a, .menu li a:visited{
    height: 33px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) { ... }
