@font-face {
  font-family: 'Bree';
  src: url('../fonts/BreeSerif-Regular.eot');
  src: url('../fonts/BreeSerif-Regular.woff2') format('woff2'),
       url('../fonts/BreeSerif-Regular.woff') format('woff'),
       url('../fonts/BreeSerif-Regular.ttf') format('truetype'),
       url('../fonts/BreeSerif-Regular.svg#BreeSerif-Regular') format('svg'),
       url('../fonts/BreeSerif-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



body{
  font-family: 'Bree', serif, monospace;
  padding: 0px;
  margin: 0px;
}

.group{
  display: table;
  width: 100%;
  table-layout: fixed;
}
.group > *{
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
ul.group{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.top_header{
  background: url('../images/haring.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.top_header > div{ background-color: rgba(256,256,256,0.8)}
.menu_icon_cont{
  padding-left: 20px;
  height: 100%;
  width: 33.33333%;
}
.menu_icon_cont img{
  width: 30px;
  height: 30px;
}
.logo_cont{
  width: 33.33333%;
  text-align: center;
  padding: 5px 0px;
}
.logo_cont img{
  width: 100%;
  max-width: 150px;
  vertical-align: middle;
}

.top_header .spacer {
  width: 33.33333%;
}
.menu-gradient {
  background: linear-gradient(90deg, #f39068, #e1ae33);
}
.menu {
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}
.menu li{
  text-align: center;
  padding: 10px 0px;
}
.menu li a, .menu li a:visited{
  color: #FFF;
  text-decoration: none;
  height: 25px;
}
.menu li span {
  display: none;
}

.menu-gradient {
  padding: 0px;
}

.home_icon,
.fanta_icon,
.bb_icon,
.cat_icon,
.bar_icon{
  padding: 5px 0px;
  padding-left: 30px;
  display: inline-block;
}
.home_icon{
  background: url('../images/home.png') no-repeat left center;
  background-size: 20px 20px;
}
.fanta_icon{
  background: url('../images/ball.png') no-repeat left center;
  background-size: 20px 20px;
}
.bb_icon{
  background: url('../images/blood.png') no-repeat left center;
  background-size: 17px 20px;
}
.cat_icon{
  background: url('../images/dice.png') no-repeat left center;
  background-size: 20px 20px;
}
.bar_icon{
  background: url('../images/food.png') no-repeat left center;
  background-size: 25px;
}
.footer{
  background: #0F4557;
  padding: 10px 0px;
}
.footer ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.footer a{
  color: #FFF;
}

.main_title{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 15px;
}

.text_center{ text-align: center}
.text_left{ text-align: left}
.text_right{ text-align: right}

.hide{ display: none; }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .menu li span {
    display: block;
  }

  .menu li a, .menu li a:visited{
    height: 33px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) { ... }
