#cards_container {
    background: url("../images/cards_back.png");
    background-size: cover;
    padding: 20px 0px;
}

/* .slick-slide {
     display: inline-block;
    vertical-align: middle;
    float:none;
} */

.slick-current .card {
    min-width: 450px;
}

.slick-current .card .img_cont {
    min-height: 250px;
}

.slick-slide {
    margin-top: 27px;
}
.slick-slide.slick-current  {
    margin-top: 0px;
}

.card {
    border-radius: 3px;
    background: #fff;
    margin: 5px;
    min-width: 350px;
    border: 0px;
}

.card .img_cont {
    border-radius: 3px;
    overflow: hidden;
    min-height: 195px;
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards_title {
    text-align: center;
    color: #f1f1f1;
}

.card_infos {
    padding: 15px;
    display: table:
}

.card_ext, .card_text {
    display: table-cell;
    color: #686868;
    vertical-align: middle;
}

.card_text {
    padding-left: 15px;
}

.card_ext img {
    width: 30px;
}

.card_fileName {
    font-size: 1rem;
    text-transform: capitalize
}

.card_fileName a {
    color: #686868;
}

.card_category {
    font-size: 0.8rem;
}

.card_label {
    border: 1px solid #686868;
    padding: 0px 5px 3px 5px;
    display: inline-block;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card_label a {
    color: #686868;
}

.card_label::before {
    content: "";
    border: 1px solid #686868;
    display: inline-block;
    border-radius: 20px;
    width: 5px;
    height: 5px;
    margin-right: 7px;
    vertical-align: middle;
}

.orange_text{ color: #f39068; }
.blue_text{ color: #0F4557; }
.green_text{ color: green; } 

.direction_text {
    font-size: 0.9rem;
}

/* HOME BLOCKS DESKTOP */
@media (min-width: 768px) {
    .mobile_view{ display: none !important; }

    .desktop_view{ 
        margin: 20px auto; 
        max-width: 70%;
        display: block !important;
    }

    .box_content{
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        margin-bottom: 20px;
    }
    .left_box{
        min-height: 240px;
        padding: 0px;
        position: relative;
        border-right: 5px solid;
    }
    .left_box .opacize{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    }
    .left_box span{
        display: inline-block;
        padding: 10px;
        color: #FFF;
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 75px);
        width: 150px;
        height: 50px;
        line-height: 25px;
        text-align: center;
        font-size: 20px;
    }
    .right_box{
        margin: auto;
        font-size: 18px;
    }

    .chi_siamo .left_box{
        background: url('../images/home.jpg') no-repeat;
        background-size: 100% 100%;
        border-color: #0F4557;
    }
    .chi_siamo .left_box span{ background-color: #0F4557; }

    .dove_siamo .left_box{
        background: url('../images/map.png') no-repeat;
        background-size: 100% 100%;
        border-color: #f39068;
        z-index: 30;
    }
    .dove_siamo .left_box span{ background-color: #f39068; }
    .dove_siamo .right_box{ z-index: 10; }
    .dove_siamo .right_box img{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .dove_siamo .right_box img.direction_img {
    width: 20px;
    height: 20px;
}
    .dove_siamo .right_box .text_right{
        padding: 20px 0px 10px 0px;
        border-bottom: 1px solid #CCC;
    }
    .orari{
        margin-top: 10px;
        background: url('../images/rightC.png') no-repeat right center;
        background-size: 20px 20px;
        cursor: pointer;
    }
    .times_cont{ position: relative }
    .times_body{ 
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        background: #FFF;
        z-index: 20;
        transition: left 500ms;
    }
    .close_times{
        background: url('../images/leftC.png') no-repeat left center;
        background-size: 13px 13px;
        cursor: pointer;
        padding: 10px;
        padding-left: 30px;
    }
    .times_table > div:nth-child(even){ background: #E6E6E6; }


    .contatti .left_box{
        background: url('../images/contatti.jpg') no-repeat;
        background-size: 100% 100%;
        border-color:green;
    }
    .contatti .left_box span{ background-color: green; }
    .contatti .right_box img{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .contatti .right_box a, .contatti .right_box a:visited, .contatti .right_box span{ 
        color: #000; 
        display: inline-block;
        height: 35px;
        line-height: 35px;
        text-decoration: none;
    }   
}

/* HOME BLOCKS MOBILE */
.desktop_view{ display: none;}
.mobile_view{ 
    margin-top: 20px; 
    display: block; 
}

.top_image{
    width: 100%;
    height: 180px;
}
.opacize{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.bottom_bg{
    width: 100%;
    height: 150px;
}
.box_content{
    position: relative;
    margin-bottom: 20px;
    background: #FFF;
}
.box_body{
    position: absolute;
    bottom: 20px;
    background: #FFF;
    margin: 0px 10px;
    padding: 10px;
    padding-top: 50px;
    transition: padding 500ms;
    transition-delay: 100ms;
    width: calc(100% - 20px);
}
.box_title{
    position: absolute;
    top: -25px;
    left: calc(50% - 75px);
    width: 150px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
}
.box_body img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.box_body a, .box_body a:visited{
    color: #000; 
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    font-size: 15px;
}  

.chi_siamo .top_image{
    background: url('../images/home.jpg') no-repeat;
    background-size: 100% 100%;
}
.chi_siamo .bottom_bg{
    background: #0F4557;
    background-size: 100% 100%;
}
.chi_siamo .box_title{ background: #0F4557; }

.dove_siamo .top_image{
    background: url('../images/map.png') no-repeat;
    background-size: 100% 100%;
}
.dove_siamo .bottom_bg{
    background: #f39068;
    background-size: 100% 100%;
}
.dove_siamo .box_title{ background: #f39068; }

.contatti .top_image{
    background: url('../images/contatti.jpg') no-repeat;
    background-size: 100% 100%;
}
.contatti .bottom_bg{
    background: green;
    background-size: 100% 100%;
}
.contatti .box_title{ background: green; }


.mobile .orari{
    margin-top: 10px;
    background: url('../images/upC.png') no-repeat right center;
    background-size: 20px 20px;
    cursor: pointer;
}
.mobile .times_cont{ position: relative }
.mobile .times_body{ 
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 0px;
    background: #FFF;
    z-index: 10;
    transition: height 500ms;
    overflow: hidden;
    width: 100%;
}
.mobile .close_times{
    background: url('../images/downC.png') no-repeat 10px center;
    background-size: 20px 20px;
    cursor: pointer;
    padding: 10px;
    padding-left: 40px;
}
.mobile .times_table > div:nth-child(even){ background: #E6E6E6; }
.mobile .times_table > div { padding: 0 10px; }
.dove_siamo .address_body .text_right{
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid #CCC;
}


@media (max-width: 991px) {
    .desktop_view{ 
        max-width: 100%;  
    }
}

@media (max-width: 480px) {
    .card {
        border-radius: 3px;
        background: #fff;
        margin: 5px;
        min-width: 280px;
        border: 0px;
    }

    .card .img_cont {
        border-radius: 3px;
        overflow: hidden;
        min-height: 100px;
        position: relative;
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .slick-current .card {
        min-width: 300px;
    }


    .slick-current .card .img_cont {
        min-height: 150px;
    }
}

