<section class="top_header">
  <div class="row">
    <div class="col-4 menu_icon_cont">
      <img src="static/images/menu.png" aria-hidden="true" alt="Open Menu"/>
    </div>
    <div class="col-4 logo_cont">
      <img src="static/images/logo.png" alt="Quarta Dimensione"/>
    </div>
    <div class="col-4">

    </div>
  </div>
</section>
<div class="container-fluid menu-gradient">
  <div class="container">
  <ul class="row menu">
    <li class="col"><a class="home_icon" href="index"><span>HOME</span></a></li>
    <li class="col"><a class="fanta_icon" href="fantacalcio"><span>FANTACALCIO</span></a></li>
    <li class="col"><a class="bb_icon" href="bbleague"><span>BLOOD BOWL</span></a></li>
    <li class="col"><a class="cat_icon" href="categorie?macro=Giochi%20da%20tavolo"><span>GIOCHI DA TAVOLO</span></a></li>
    <li class="col"><a class="war_icon" href="categorie?macro=Wargames"><span>WARGAMES</span></a></li>
    <li class="col"><a class="bar_icon" href="barlist"><span>FOOD &amp; DRINKS</span></a></li>
  </ul>
</div>
</div>
