<section class="top_header">
  <div class="group">
    <div class="menu_icon_cont">
      <img src="static/images/menu.png" aria-hidden="true" alt=""/>
    </div>
    <div class="logo_cont">
      <img src="static/images/logo.jpg" alt="Quarta Dimensione"/>
    </div>
    <div class="spacer">

    </div>
  </div>
</section>
<div class="container-fluid">
  <ul class="row menu">
    <li class="col"><a class="home_icon" href="index">HOME</a></li>
    <li class="col"><a class="fanta_icon" href="fantacalcio">FANTACALCIO</a></li>
    <li class="col"><a class="bb_icon" href="bbleague">BLOOD BOWL</a></li>
    <li class="col"><a class="cat_icon" href="macro">ALTRI GIOCHI</a></li>
    <li class="col"><a class="bar_icon" href="barlist">FOOD &amp; DRINKS</a></li>
  </ul>
</div>
